* {
    margin: 0;
    padding: 0;
    border: none;
}
html,body {
    width: 100%;
    height: 100%;
}
.wraper {
    width: 100%;
    height: 100%;
    position: relative;
}
.slide {
    width: 100%;
    height: 100%;
}
 
.slide_1 {
    width: 100%;
    height: 100%;
    background-image: url(/image/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:0;
    z-index: 1;
    opacity: 0;
}
.slide_2 {
    width: 100%;
    height: 100%;
    background-image: url(/image/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:0;
    z-index: 2;
    opacity: 0;
}
.slide_3 {
    width: 100%;
    height: 100%;
    background-image: url(/image/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:0;
    z-index: 3;
    opacity: 0;
}
.nut {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    z-index: 999;
}
.nut ul li {
    width: 10px;
    height: 10px;
    border:2px solid white;
    display: inline-block;
    border-radius: 100%;
    cursor: pointer;
}
 
.nut ul li:hover {
    background-color: white;
}
.ra{
    transition: 1.5s;
    opacity: 1;
}
 